<section class="w-full h-full flex-col flex items-center justify-center">
  <h2 class="text-3xl quotes text-center leading-tight font-white font-bold text-white"></h2>
  <hr style="border-top: 2px solid white; width: 30vw; margin: 1.1em auto;">
  <div class="w-full flex px-16 mt-4">
    <div class="w-1/3 h-full offset-1/2">
      <div class="mx-4 h-full flex flex-col bg-white rounded p-2 text-center text-black">
        <fa-icon [icon]="faHandPointer" class="text-4xl mb-2 text-gray-800"></fa-icon>
        <h2 class="text-lg font-bold">Your passwords in one place</h2>
        <p class="flex-grow flex items-start px-4 mt-2">PassWorld is the most secure place to store all your passwords.<br/>No need to remember anything, anymore.</p>
      </div>
    </div>
    <div class="w-1/3 h-full offset-1/2">
      <div class="mx-4 h-full flex flex-col bg-white rounded p-2 text-center text-black">
        <fa-icon [icon]="faLock" class="text-4xl mb-2 text-gray-800"></fa-icon>
        <h2 class="text-lg font-bold">High security</h2>
        <p class="flex-grow flex items-start px-4 mt-2">A complex private & public algorithm allows us to provide you the most secure place to save your credentials.</p>
      </div>
    </div>
    <div class="w-1/3 h-full offset-1/2">
      <div class="mx-4 h-full flex flex-col bg-white rounded p-2 text-center text-black">
        <fa-icon [icon]="faEye" class="text-4xl mb-2 text-gray-800"></fa-icon>
        <h2 class="text-lg font-bold">Foresight is key</h2>
        <p class="flex-grow flex items-start px-4 mt-2">Nowadays, a passwork leaked can arrived quickly.<br/>Our foresight system allows you to be notified when your password could have been leaked.</p>
      </div>
    </div>
  </div>
</section>
