<section class="w-full h-full flex-col flex items-center justify-evenly">
  <div class="w-1/2">
    <h2 class="text-3xl text-center leading-tight font-white font-bold text-white">
      Let's secure a new password !
    </h2>
    <a routerLink="/secured/passwords" class="text-center block w-full leading-tight text-white">< Back to my passwords</a>
    <div class="w-full mt-4">
      <form (submit)="onSubmit()" [formGroup]="creationForm"
            class="bg-white w-full shadow-md rounded px-8 pt-6 pb-8 mb-4">
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="website">
            Website
          </label>
          <input
            [ngClass]="submitted && creationForm.controls.website.errors ? 'border-red-500' : 'border'"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="website"
            type="text"
            formControlName="website"
            placeholder="Website">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="website">
            Username
          </label>
          <input
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="username"
            type="text"
            formControlName="username"
            placeholder="Username">
        </div>
        <div class="mb-4">
          <label class="block text-gray-700 text-sm font-bold mb-2" for="password">
            Password
          </label>
          <input
            [ngClass]="submitted && creationForm.controls.password.errors ? 'border-red-500' : 'border'"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            id="password"
            type="password"
            formControlName="password"
            placeholder="Password">
          <app-password-strength [password]="creationForm.get('password')?.value" *ngIf="creationForm.get('password')?.value"></app-password-strength>
        </div>
        <div class="w-full text-right">
          <button
            class="bg-blue-700 hover:bg-blue-900 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            type="submit">
            Save & secure
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
